---
---
<!-- 
<div class="col-span-1 row-span-4 border-r border-gray-300 bg-white pl-10">
    <ul>
    <li class="pb-3">
        <a>Dashboard</a>
    </li>
    <li class="pb-3">
        Disks
    </li>
    </ul>
</div>
-->


